<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="treggoshipping" translate="label" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Treggo</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Activo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="all" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Hacer todos los envios con Treggo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Esta opcion enviara la informacion de todos los envios a la plataforma de Treggo</comment>
                </field>
                <field id="email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email</label>
                </field>
                <field id="secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret</label>
                    <comment>Este dato esta en el perfil de usuario en la plataforma de Treggo</comment>
                </field>
                <field id="country" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Pais</label>
                    <source_model>Treggo\Shipping\Model\Countries</source_model>
                </field>

                <field id="active_z1" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Activar envios en Zona 1</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name_z1" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Texto opcion Zona 1</label>
                </field>
                <field id="shipping_cost_z1" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Importe acordado Zona 1</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                
                <field id="active_z2" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Activar envios en Zona 1</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name_z2" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Texto opcion Zona 2</label>
                </field>
                <field id="shipping_cost_z2" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Importe acordado Zona 2</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>

                <field id="active_z3" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Activar envios en Zona 3</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name_z3" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Texto opcion Zona 3</label>
                </field>
                <field id="shipping_cost_z3" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Importe acordado Zona 3</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>
