<!--
/**
* Dependency injector xml file
*
* @author Matías Dameno
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="Treggoapp_Treggoshippingmethod_Plugin" type="Treggoapp\Treggoshippingmethod\Plugin\SendnotificationPlugin"/>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order">
        <plugin name="Treggoapp_Treggoshippingmethod_Aftersave_Plugin" type="Treggoapp\Treggoshippingmethod\Plugin\SendnotificationPluginWhenStatusChanges"/>
    </type>

    <virtualType name="TreggoappCustomLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Treggoapp\Treggoshippingmethod\Logger\Handler\InfoHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Treggoapp\Treggoshippingmethod\Plugin\SendnotificationPlugin">
        <arguments>
            <argument name="logger" xsi:type="object">TreggoappCustomLogger</argument>
        </arguments>
    </type>

    <type name="Treggoapp\Treggoshippingmethod\Setup\InstallData">
        <arguments>
            <argument name="logger" xsi:type="object">TreggoappCustomLogger</argument>
        </arguments>
    </type>

    <type name="Treggoapp\Treggoshippingmethod\Plugin\SendnotificationPluginWhenStatusChanges">
        <arguments>
            <argument name="logger" xsi:type="object">TreggoappCustomLogger</argument>
        </arguments>
    </type>

    <type name="Treggoapp\Treggoshippingmethod\Controller\Adminhtml\Labels\Printa4">
        <arguments>
            <argument name="logger" xsi:type="object">TreggoappCustomLogger</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="Treggoapp_Treggoshippingmethod_Addprintlabelbuttons_Plugin" type="Treggoapp\Treggoshippingmethod\Plugin\Block\Adminhtml\Order\View"/>
    </type>
</config>
